<h1>forgot your password?</h1>

<% flash.each do |key, value| %>
	<aside class="alert alert-<%= key %>"><%= value %></aside>
<% end %>
<%= form_for :password_reset, url: password_resets_path do |f| %>
	<div class="user-content">
		<p><%= f.email_field :email, required: true, placeholder: 'enter your email' %></p>
		<p><%= f.submit "submit" %></p>
	</div>
<% end %>
