<% unless @convo %>
  <p class="post-reference metadata">
    <span><%= comment.user == current_user ? 'you' : (comment.author.present? ? comment.author : 'someone') %> commented on <%= link_to comment.convo.title, convo_slug_path(comment.convo.topic.slug, comment.convo.id, comment.convo.slug), class: 'highlight' %></span>
  </p>
<% end %>
<article class="truncate-content comment convo<%= ' hidden' if comment.points < -5 %><%= " disabled" if current_user && current_user.voted_on?(comment) %><%= " upvoted" if current_user.voted_for?(comment) %>" id="comment-<%= comment.id %>">
  <%= markdown_content_for(comment.comment, current_user) %>
  <p class="metadata">
    <span class="vote-links">
      <%= link_to '', upvote_comment_path(comment), remote: true, 
        class: 'arrow upvote'+(' active' if current_user.voted_for?(comment)).to_s %>
      <%= link_to '', downvote_comment_path(comment), remote: true, 
        class: 'arrow downvote'+(' active' if current_user.voted_against?(comment)).to_s %>
    </span>
    <% if @convo %>
      <% from_reply_form ||= nil %>
      <% unless from_reply_form %>
        <a href="#reply_to_<%= comment.id %>" class="highlight show-reply-form">reply</a> <span class="separator">•</span>
      <% end %>
    <% end %>
    <%= link_to pluralized_points_for(comment), 
      "#comment-#{comment.id}", title: 'Permalink to comment' %> <span class="separator">•</span>
    <%= link_to time_ago_in_words(comment.created_at)+' ago', 
      "#comment-#{comment.id}", title: 'Permalink to comment' %>
    <% if comment.edited? %>(edited)<% end %>
    <% if @convo %>
      by
      <% if comment.by_admin? %>
        <span class="admin-tag">admin</span>
      <% else %>
        <% if comment.author? %>
          <%= comment.author %>
        <% else %>
          <% if current_user.admin? and comment.user.admin? %>
            <span class="admin-tag"><%= comment.user.username %></span>
          <% else %>
            someone
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <% unless comment.user == current_user %>
   <span class="separator">•</span> <%= link_to 'report', report_comment_path(comment), remote: true, method: :post, class: 'report-link', data: { confirm: "Are you sure?" } %>
    <% end %>
    <% if current_user.can_edit?(comment) %>
     <span class="separator">•</span> <%= link_to 'edit', edit_comment_path(comment) %>
     <span class="separator">•</span> <%= link_to 'delete', comment, :method => :delete %>
    <% end %>
  </p>
</article>
