<%= form_for comment, html: {
  id: form_id, class: 'block-form comment-form',
  data: { 
    'form-data' => (@s3_direct_post.fields), 
    'url' => @s3_direct_post.url, 
    'host' => URI.parse(@s3_direct_post.url).host 
  } } do |f| %>
  <%= invisible_captcha %>
  
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :convo_id %>
  <%= f.hidden_field :parent_id %>
  <div class="field">
    <%= f.label :comment, 'message', class: 'redundant-label' %>
    <%= f.text_area :comment, placeholder: placeholder, :maxlength => 10000 %>
  </div>
  <div class="options">
    <%= f.label :author, 'sign it (optional)', class: 'redundant-label' %>
    <%= f.text_field :author, placeholder: '— sign it (optional)', style: 'marg' %>
    <%= f.submit submit_text %>
    <% if current_user.admin? %>
      <label class="by-admin"><%= f.check_box :by_admin %>flag as admin</label>
    <% end %>
  </div>
<% end %>
