<p id="notice"><%= notice %></p>

<h1>topics <%= link_to '+ new', new_topic_path %></h1>

<table>
  <thead>
    <tr>
      <th>name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= topic.name %></td>
        <td><%= link_to 'show', topic %></td>
        <td><%= link_to 'edit', edit_topic_path(topic) %></td>
        <td><%= link_to 'destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
