<p id="notice"><%= notice %></p>

<h2>most popular (#<%= @topic.name %>)</h2>
    <% @topic.convos.each do |convo| %>
      <article class="convo">
          <h1>
            <% if convo.url? %>
              <%= link_to convo.title, convo.url %>
            <% elsif %>
              <%= link_to convo.title, convo %>
            <% end %>
          </h1>
          <p class="metadata">
            <%= link_to "#{convo.votes} points", convo %> |
            <%= link_to 'upvote', upvote_convo_path(convo) %></a> |
            <%= link_to 'downvote', downvote_convo_path(convo) %></a> |
            <%= link_to "#{convo.comments.count} #{'comment'.pluralize(convo.comments.count)}", convo %> |
            <%= link_to (time_ago_in_words convo.created_at), convo %>
            ago by <% if convo.author? %><%= convo.author %><% else %>someone<% end %>
            <% if convo.topic_id? %>in <%= link_to convo.topic.name, topic_path(convo.topic) %><% end %>
          </p>
        </article>
    <% end %>
  </tbody>
</table>

<br>
