<% meta title: @title %>
<h1><%= @title %></h1>
<%= render partial: 'convos/form', locals: { convo: @new_convo, submit_text: '+ start a convo', timeout: true } %>
<%= render partial: 'convos/content_filters', locals: {
	browse_convos_path: topic_path(@topic),
	browse_comments_path: topic_comments_path(@topic)
	} %>
<%= render @convos %>
<%= paginate @convos %>
