<head>
  <%= metamagic site: "Test", title: [:title, :site], separator: " — " %>
</head>

<h1><%= @title %></h1>
<%= render partial: 'convos/form', locals: { convo: @new_convo, submit_text: '+ start a convo', timeout: true } %>
<ul class="convos-menu _group">
  <li>sort by</li>
  <li><%= link_to 'recent', '?show=recent', class: ("active" if params[:show] != 'popular') %></li>
  <li><%= link_to 'popular', '?show=popular', class: ("active" if params[:show] == 'popular') %></li>
</ul>
<%= render @convos %>
<%= paginate @convos %>
