<article class="<%= 'active ' if params[:convo].to_i == convo.id %><%= @convo ? 'single-convo' : 'convo truncate-content' %> _group<%= ' disabled' if current_user.voted_on?(convo) %><%= ' upvoted' if current_user.voted_for?(convo) %><%= ' hidden' if convo.points < -5 %>">
  <div class="user-content">
    <%= highlight markdown(convo.convo), params[:search] %>
  </div>
  <p class="metadata">
    <span class="vote-links">
      <%= link_to '', upvote_convo_path(convo), remote: true, 
        class: 'arrow upvote'+(' active' if current_user.voted_for?(convo)).to_s %>
      <%= link_to '', downvote_convo_path(convo), remote: true, 
        class: 'arrow downvote'+(' active' if current_user.voted_against?(convo)).to_s %>
    </span>
    <%= link_to_unless @convo, pluralized_points_for(convo), convo_slug_path(convo.topic.slug, convo.id, convo.slug) %> |
    <% unless @convo %>
      <%= link_to pluralized_comments_for(convo), convo_slug_path(convo.topic.slug, convo.id, convo.slug) %> |
    <% end %>
    <%= link_to_unless @convo, (time_ago_in_words convo.created_at)+' ago', convo_slug_path(convo.topic.slug, convo.id, convo.slug) %>
    <% if convo.edited? %>(edited)<% end %>
    by 
    <% if convo.by_admin? %>
      <span class="admin-tag">admin</span>
    <% else %>
      <% if convo.author? %>
        <%= convo.author %>
      <% else %>
        <% if current_user.admin? and convo.user.admin? %>
          <span class="admin-tag"><%= convo.user.username %></span>
        <% else %>
          someone
        <% end %>
      <% end %> 
    <% end %>
    <% unless @topic %>
      <% if convo.topic %>
        in <%= link_to convo.topic.name, topic_path(convo.topic) %>
      <% end %>
    <% end %>
    <% if current_user.can_edit?(convo) %>
      | <%= link_to 'edit', edit_convo_path(convo) %> 
      | <%= link_to 'delete', convo, :method => :delete %>
    <% end %>
  </p>
</article>
