<article class="<%= @convo ? 'single-convo' : 'convo' %>" id="convo-<%= convo.id %>">
  <h1>
    <% if convo.url? %>
      <%= link_to convo.title, convo.url %>
    <% elsif %>
      <%= link_to_unless @convo, highlight(convo.title, params[:search]), convo %>
    <% end %>
  </h1>
  <% if @convo && convo.comment? || params[:search] %>
    <div class="user-content">
      <%= highlight markdown(convo.comment), params[:search] %>
    </div>
  <% end %>
  <p class="metadata">
    <span class="vote-links<%= " disabled" if current_user && current_user.voted_on?(convo) %>">
      <%= link_to 'upvote', upvote_convo_path(convo), remote: true, 
        class: 'upvote'+(' active' if current_user && current_user.voted_for?(convo)).to_s, 
        data: { item_type: convo.class.to_s.downcase, item_id: convo.id } %>
      <%= link_to 'downvote', downvote_convo_path(convo), remote: true, 
        class: 'downvote'+(' active' if current_user && current_user.voted_against?(convo)).to_s, 
        data: { item_type: convo.class.to_s.downcase, item_id: convo.id } %>
    </span>
    <%= link_to_unless @convo, pluralized_points_for(convo), convo %> |
    <% unless @convo %>
      <%= link_to pluralized_comments_for(convo), convo %> |
    <% end %>
    <%= link_to_unless @convo, (time_ago_in_words convo.created_at)+' ago', convo %>
    by <% if convo.author? %><%= convo.author %><% else %>someone<% end %>
    <% unless @topic %>in <%= link_to convo.topic.name, topic_path(convo.topic) %><% end %>
  </p>
</article>
