<% if cp(activity_path) %>
  <p class="post-reference metadata">
    <span>you started a convo</span>
  </p>
<% end %>
<article class="<%= 'active ' if params[:convo].to_i == convo.id %><%= @convo ? 'single-convo' : 'convo truncate-content' %> _group<%= ' disabled' if current_user.voted_on?(convo) %><%= ' upvoted' if current_user.voted_for?(convo) %><%= ' hidden' if convo.points < -5 %>">
  <% if convo.thumbnails.any? && !@convo %>
    <a 
      class="thumbnail" 
      href="<%= convo.thumbnails.first %>"
      style="background-image: url('<%= convo.thumbnails.first %>');" >
      <%= image_tag convo.thumbnails.first, style: 'display: none' %>
    </a>
  <% end %>
  <%= markdown_content_for(convo.convo, current_user) %>
  <p class="metadata">
    <span class="vote-links">
      <%= link_to '', upvote_convo_path(convo), remote: true, 
        class: 'arrow upvote'+(' active' if current_user.voted_for?(convo)).to_s %>
      <%= link_to '', downvote_convo_path(convo), remote: true, 
        class: 'arrow downvote'+(' active' if current_user.voted_against?(convo)).to_s %>
    </span>
    <%= link_to_unless @convo, pluralized_points_for(convo), convo_slug_path(convo.topic.slug, convo.id, convo.slug) %> <span class="separator">•</span>
    <% unless @convo %>
      <%= link_to pluralized_comments_for(convo), convo_slug_path(convo.topic.slug, convo.id, convo.slug) %> <span class="separator">•</span>
    <% end %>
    <%= link_to_unless @convo, (time_ago_in_words convo.created_at)+' ago', convo_slug_path(convo.topic.slug, convo.id, convo.slug) %>
    <% if convo.edited? %>(edited)<% end %>
    <% unless cp(activity_path) %>
      by 
      <% if convo.by_admin? %>
        <span class="admin-tag">admin</span>
      <% else %>
        <% if convo.author? %>
          <%= convo.author %>
        <% else %>
          <% if current_user.admin? and convo.user.admin? %>
            <span class="admin-tag"><%= convo.user.username %></span>
          <% else %>
            someone
          <% end %>
        <% end %> 
      <% end %>
    <% end %>
    <% unless @topic %>
      <% if convo.topic %>
        in <%= link_to convo.topic.name, topic_path(convo.topic) %>
      <% end %>
    <% end %>
    <% unless convo.user == current_user %>
    <span class="separator">•</span> <%= link_to 'report', report_convo_path(convo), remote: true, method: :post, class: 'report-link', data: { confirm: "Are you sure?" } %>
    <% end %>
    <% if current_user.can_edit?(convo) %>
      <span class="separator">•</span> <%= link_to 'edit', edit_convo_path(convo) %> 
      <span class="separator">•</span> <%= link_to 'delete', convo, :method => :delete, data: { confirm: "Are you sure?" } %>
    <% end %>
  </p>
</article>
