<article class="<%= 'active ' if notice == convo.id %><%= @convo ? 'single-convo' : 'convo' %> _group" data-points="<%= convo.points %>">
  <div class="user-content">
    <%= current_user.remainder_votes_for(convo) %>
    <%= highlight markdown(convo.convo), params[:search] %>
  </div>
  <p class="metadata">
    <span class="vote-links<%= " disabled" if current_user && current_user.can_vote_on?(convo) %>">
      <%= link_to 'upvote', upvote_convo_path(convo), remote: true, class: 'upvote active', 
        data: { item_type: convo.class.to_s.downcase, item_id: convo.id } %>
      <%= link_to 'downvote', downvote_convo_path(convo), remote: true, class: 'downvote active', 
        data: { item_type: convo.class.to_s.downcase, item_id: convo.id } %>
    </span>
    <%= link_to_unless @convo, pluralized_points_for(convo), convo %> |
    <% unless @convo %>
      <%= link_to pluralized_comments_for(convo), convo %> |
    <% end %>
    <%= link_to_unless @convo, (time_ago_in_words convo.created_at)+' ago', convo %>
    <% if convo.edited? %>(edited)<% end %>
    by <% if convo.author? %><%= convo.author %><% else %>someone<% end %> 
    <% unless @topic %>
      <% if convo.topic %>
        in <%= link_to convo.topic.name, topic_path(convo.topic) %>
      <% end %>
    <% end %>
    <% if convo.user && convo.user == current_user %>
      | <%= link_to 'edit', edit_convo_path(convo) %> 
      | <%= link_to 'delete', convo, :method => :delete %>
    <% end %>
  </p>
</article>
