<%= form_for(@convo) do |f| %>
  <% if @convo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@convo.errors.count, "error") %> prohibited this convo from being saved:</h2>

      <ul>
      <% @convo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, 'title' %>
    <%= f.text_field :title, :autocomplete => :off %>
  </div>
  <div class="field">
    <%= f.label :url, raw('url <em>or</em> comment') %>
    <%= f.url_field :url, placeholder: 'url', :autocomplete => :off %>
    <%= f.text_area :comment, placeholder: 'comment' %>
    <small>Markdown enabled</small>
  </div>
  <%= f.label :topic_id, 'topic' %>
  <div class="field topics-selection">
    <%= f.collection_radio_buttons :topic_id, topics_list, :id, :name, checked: 1 do |t| %>
      <%= t.label { t.radio_button + t.text } %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :author, 'sign it (optional)' %>
    <%= f.text_field :author %>
  </div>
  <div class="actions">
    <%= f.submit 'submit' %>
  </div>
<% end %>
