<%= form_for convo, html: {class: 'block-form'} do |f| %>
  <% if convo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(convo.errors.count, "error") %> prohibited this convo from being saved:</h2>

      <ul>
      <% convo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :convo, 'message' %>
    <%= f.text_area :convo, placeholder: 'share a thought, story, or anything…', :maxlength => 10000 %>
  </div>
<!--   <%= f.label :topic_id, 'topic' %>
  <div class="field topics-selection">
    <%= f.collection_radio_buttons :topic_id, topics_list, :id, :name, checked: 1 do |t| %>
      <%= t.label { t.radio_button + t.text } %>
    <% end %>
  </div> -->

  <div class="options">
    <%= f.label :author, 'sign it (optional)' %>
    <%= f.text_field :author, placeholder: '— sign it (optional)' %>
    <%= f.submit submit_text %>
  </div>
<% end %>
