<%= form_for convo, html: { class: 'block-form', 
  data: { 
    'form-data' => (@s3_direct_post.fields), 
    'url' => @s3_direct_post.url, 
    'host' => URI.parse(@s3_direct_post.url).host 
  } } do |f| %>
  <%= invisible_captcha %>
  
  <% if convo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(convo.errors.count, "error") %> prohibited this convo from being saved:</h2>

      <ul>
      <% convo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :convo, 'message', class: 'redundant-label' %>
    <%= f.text_area :convo, placeholder: 'share a thought, story, or anything…', :maxlength => 10000, autofocus: true %>
  </div>

  <div class="options">

    <div class="select">
      in
      <ul class="nicer-select">
        <% for topic in topics_list %>
          <li><a href data-id=<%= topic.id %>><%= topic.name %></a></li>
        <% end %>
      </ul>
      <%= f.hidden_field :topic_id %>
    </div>
    <script>
      $('.nicer-select').each(function(){
        var self = this;
        var targetField = $('#convo_topic_id');
        var currentValue = function(){
          var topicId = $(targetField).val();
          if (topicId) {
            return $('a[data-id='+($(targetField).val())+']', self).text();
          } else {
            return 'choose a topic <span>(required)</span>';
          };
        };
        var newshit = $('<a href>');
        newshit.html(currentValue());
        $(self).before(newshit);
        $(self).hide();
        $('a[data-id]', self).on('click', function(){
          event.preventDefault();
          $(targetField).val($(this).attr('data-id'));
          currentValue = $(this);
          newshit.text(currentValue.text());
          $(self).hide();
        });
        $(window).on('click', function(){
          $(self).hide();
        })
        newshit.on('click', function(){
          event.preventDefault();
          event.stopPropagation ();
          $(self).toggle();
        });
      });
      $('#new_convo').submit(function(event){
        if ($('#convo_convo').val().match(/^\s*$/)) {
          event.preventDefault();
          alert('This can’t be empty.')
        } else if ($('#convo_topic_id').val() == ''){
          event.preventDefault();
          alert('Please choose a topic.')
        }
      });
    </script>
    <%= f.label :author, 'sign it (optional)', class: 'redundant-label' %>
    <%= f.text_field :author, placeholder: '— sign it (optional)' %>
    <%= f.submit submit_text, timeout: ((current_user.convos.last.created_at.to_f*1000) unless current_user.can_post_new_convo?), id: 'submit_convo' %>
    <% if timeout %>
      <script>
        $('[timeout]').each(function(){
          var $self = $(this);
          var timeout = $self.attr('timeout');
          var originalVal = $self.val();
          var dateThen = new Date(parseInt(timeout));
          var dateNow = new Date();
          var timeLeft = function(){
            return Math.round((dateThen.getTime()-dateNow.getTime()+60000)/1000) 
          };

          $self.val('wait '+timeLeft()+'s');
          $self.attr('disabled', 'disabled');

          var timer = setInterval(function(){
            dateNow = new Date();
            timeLeft();
            if (timeLeft() < 60 && timeLeft() >= 1){
              $self.val('wait '+timeLeft()+'s');
            } else {
              $self.val(originalVal);
              $self.removeAttr('disabled');
              clearInterval(timer);
            };
          }, 1000);
        });
      </script>
    <% end %>
    <% if current_user.admin? %>
      <label class="by-admin"><%= f.check_box :by_admin %>flag as admin</label>
    <% end %>
  </div>
  <!-- <a class="formatting-link" href="http://www.convos.org/topics/feedback/135/formatting" target="_blank">formatting help</a> -->
<% end %>
