<%= form_for convo, html: {class: 'block-form'} do |f| %>
  <% if convo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(convo.errors.count, "error") %> prohibited this convo from being saved:</h2>

      <ul>
      <% convo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :convo, 'message' %>
    <%= f.text_area :convo, placeholder: 'share a thought, story, or anything…', :maxlength => 10000 %>
  </div>
<!--   <%= f.label :topic_id, 'topic' %>
  <div class="field topics-selection">
    <%= f.collection_radio_buttons :topic_id, topics_list, :id, :name, checked: 1 do |t| %>
      <%= t.label { t.radio_button + t.text } %>
    <% end %>
  </div> -->

  <div class="options">
    <%= f.label :author, 'sign it (optional)' %>
    <%= f.text_field :author, placeholder: '— sign it (optional)' %>
    <%= f.submit submit_text, timeout: ((current_user.last_convo.created_at.to_f*1000) unless current_user.can_post_new_convo?) %>
    <% if timeout %>
      <script>
        $('[timeout]').each(function(){
          var $self = $(this);
          var timeout = $self.attr('timeout');
          var originalVal = $self.val();
          var dateThen = new Date(parseInt(timeout));
          var dateNow = new Date();
          var timeLeft = function(){
            return Math.round((dateThen.getTime()-dateNow.getTime()+60000)/1000) 
          };

          $self.val('wait '+timeLeft()+'s');
          $self.attr('disabled', 'disabled');

          var timer = setInterval(function(){
            dateNow = new Date();
            timeLeft();
            if (timeLeft() < 60 && timeLeft() >= 1){
              $self.val('wait '+timeLeft()+'s');
            } else {
              $self.val(originalVal);
              $self.removeAttr('disabled');
              clearInterval(timer);
            };
          }, 1000);
        });
      </script>
    <% end %>
  </div>
<% end %>
