<%= render partial: 'form', locals: { convo: @new_convo, submit_text: '+ start a convo', timeout: true } %>
<ul class="convos-menu _group">
  <li>sort by</li>
  <li><%= link_to 'recent', '?show=recent', class: ("active" if params[:show] != 'popular') %></li>
  <li><%= link_to 'popular', '?show=popular', class: ("active" if params[:show] == 'popular') %></li>
</ul>
<% if @convos.present? %>
	<%= render @convos %>
<% else %>
	<p>No convos found.</p>
<% end %>
<%= paginate @convos %>
