<p id="notice"><%= notice %></p>
<%= render @convo %>

<section class="comments">
  <%= render 'comments/form' %>
  <h1><%= pluralized_comments_for @convo %>  <%= link_to "top", convo_path(@convo) %> <%= link_to "recent", convo_path(@convo)+'?show=recent' %> </h1>
  <% if @comments %>
    <%= comments_tree_for @comments %>
  <% else %>
    No comments yet.
  <% end %>
</section>