<% meta title: @convo.title %>
<p id="notice"><%= notice %></p>
<%= render @convo %>

<section class="comments">
  <%= render partial: 'comments/form', locals: { comment: @comment, submit_text: 'submit', placeholder: 'leave a comment...', form_id: 'new_comment' } %>
  <% if @comments.count > 0 %>
    <h2><%= pluralized_comments_for @convo %>  <%= link_to "top", convo_path(@convo) %> <%= link_to "recent", convo_path(@convo)+'?show=recent' %> </h2>
    <%= comments_tree_for @comments, @comments_order %>
  <% end %>
</section>
