<% meta title: @convo.title %>
<p id="notice"><%= notice %></p>
<%= render @convo %>

<section class="comments">
  <% if @comments.any? %>
    <h2><%= pluralized_comments_for @convo %></h2>
  <% end %>
  <%= render partial: 'comments/form', locals: { comment: @comment, submit_text: 'submit', placeholder: 'leave a comment...', form_id: 'new_comment' } %>
  <% if @comments.any? %>
    <ul class="horizontal-menu _group">
      <li>sort by</li>
      <li><%= link_to 'top', '?show=top', class: ("active" if params[:show] != 'recent') %></li>
      <li><%= link_to 'recent', '?show=recent', class: ("active" if params[:show] == 'recent') %></li>
    </ul>
    <%= comments_tree_for @comments, @comments_order %>
  <% end %>
</section>
