<p id="notice"><%= notice %></p>
<h1>
  <% if @convo.url? %>
    <%= link_to @convo.title, @convo.url %>
  <% else %>
    <%= @convo.title %>
  <% end %>
</h1>
<% if @convo.comment %>
  <div class="user-content">
    <%= markdown @convo.comment %>
  </div>
<% end %>
<p class="metadata">
  <%= @convo.votes %> points</a> |
  <%= link_to 'upvote', upvote_convo_path %></a> |
  <%= link_to 'downvote', downvote_convo_path %></a> |
  <%= time_ago_in_words @convo.created_at %> ago
  by <% if @convo.author? %><%= @convo.author %><% else %>someone<% end %>
  <% if @convo.topic_id? %>in <%= link_to @convo.topic.name, topic_path(@convo.topic) %><% end %>
</p>

<section class="comments">
  <h2>respond to this</h2>
  <%= render 'comments/form' %>
  <% if @comments %>
    <%= comments_tree_for @comments %>
  <% else %>
    No comments yet.
  <% end %>
</section>