<h1>settings</h1>
<h2>change email</h2>
<%= form_for @user do |f| %>

	<div class="user-content">
		<p><%= f.email_field :email, placeholder: "email" %></p>
		<%= errors_for f, :email, 'email' %>
		<p><%= f.submit "submit" %></p>
	</div>

<% end %>
<h2>change password</h2>
<%= form_for @user do |f| %>

	<div class="user-content">
		<p><%= f.password_field :password, placeholder: "password" %></p>
		<%= errors_for f, :password, 'password' %>
		<p><%= f.submit "submit" %></p>
	</div>

<% end %>
