<h1>sign up</h1>

<%= form_for @user, html: {class:'user-content registration-form _group'} do |f| %>
	<div>
		<p><%= f.email_field :email, placeholder: "email" %></p>
		<%= errors_for f, :email, 'email' %>
		<p><%= f.password_field :password, placeholder: "password" %></p>
		<%= errors_for f, :password, 'password' %>
		<p><%= f.password_field :password_confirmation, placeholder: "confirm password" %></p>
		<%= errors_for f, :password_confirmation, 'password confirmation' %>
		<p><%= f.submit "submit" %></p>
	</div>

	<aside>
		<ul>
			<li>keep score of your votes</li>
			<li>find your recent convos and comments</li>
			<li>more features coming soon!</li>
		</ul>
		<small class="metadata">this information is only available to you. registration is optional and you can still post anonymously. by using this site you agree to our <a href="/tos" class="highlight" target="_blank">terms of service</a>.</small>
	</aside>

<% end %>
