<h1>sign up</h1>
<div class="user-content" >
	<ul>
		<li>keep score of your votes</li>
		<li>find your recent convos and comments</li>
		<li>more features coming soon!</li>
		<br>
		<li>this information is only available to you, and you can still be anonymous</li>
		<li>registration is totally optional</li>
	</ul>

	<%= form_for @user do |f| %>

		<p><%= f.email_field :email, placeholder: "email" %></p>
		<p><%= f.password_field :password, placeholder: "password" %></p>
		<p><%= f.password_field :password_confirmation, placeholder: "confirm password" %></p>
		<p><%= f.submit "submit" %></p>

	<% end %>
	<small class="metadata">By using this site, you agree to our <a href="/tos" class="highlight" target="_blank">Terms</a></small>
</div>
