<h1>my activity</h1>
<ul class="horizontal-menu _group">
  <li>sort by</li>
  <li><%= link_to 'recent', '?show=recent', class: ("active" if params[:show] != 'popular') %></li>
  <li><%= link_to 'top', '?show=popular', class: ("active" if params[:show] == 'popular') %></li>
</ul>
<% if @activity.present? %>
	<%= render @activity %>
<% else %>
	<p>no activity yet.</p>
	<p style="margin-top: 15px"><%= link_to '+ start a convo', root_path, class: 'button' %></p>
<% end %>
<%= paginate @activity %>
