<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>convos.org</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<link href="https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic" rel="stylesheet" />
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>

		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-72648001-1', 'auto');
		  ga('send', 'pageview');

		</script>
	</head>
	<body>
		<nav class="site-nav">
			<%= link_to image_tag('logo.png', alt:'convos.org', class:'logo'), root_path %>
			<ul class="convos-menu">
				<li>sort by</li>
				<li><%= link_to 'recent', '?show=recent', class: ("active" if params[:show] != 'popular') %></li>
				<li><%= link_to 'popular', '?show=popular', class: ("active" if params[:show] == 'popular') %></li>
				<% if current_user && !current_user.guest? %>
					<li>hello, <strong><%= current_user.username %></strong></li>
					<li><%= link_to "logout", logout_path %></li>
				<% end %>
			</ul>
			<div class="sidebar">
				<%= link_to '+ start a convo', new_convo_path, class: 'new-convo button' %>
				<p class="reg-banner">registration not required</p>
			</div>
		</nav>
		<% if false %>
		<aside class="sidebar">
			<section>
				<h1>filter by topic</h1>
				<p class="topics">
					<%= link_to '(all)', root_path(show: params[:show]), class: cp(root_path(show: params[:show])) %>
					<% topics_list.each do |topic| %>
						<%= link_to "##{topic.name}", topic_path(topic, show: params[:show]), class: cp(topic_path(topic)) %>
					<% end %>
				</p>
			</section>
			<section>
				<h1>find convos</h1>
				<%= form_tag(convos_path, :method => "get") do %>
					<%= text_field_tag :search, params[:search], placeholder: "search", type: 'search', :autocomplete => :off %>
				<% end %>
			</section>
		</aside>
		<% end %>
		<main>
			<%= yield %>
		</main>
		<footer class="site-footer">
			<p class="copyright">&copy; 2016. All rights reserved. <a href="/tos" style="float: right;">Terms of service</a></p> 
		</footer>
	</body>
</html>
