<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<%= metamagic site: "convos.org", title: [:title, :site], separator: " | ",
			description: "An anonymous message board. Share your thoughts, comment and vote. No registration required.",
			keywords: %w(anonymous forum reddit 4chan alternative) %>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<link href="https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic" rel="stylesheet" />
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>

		<meta name="viewport" content="width=device-width">

		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-72648001-1', 'auto');
			ga('send', 'pageview');
		</script>
	</head>
	<body>
		<nav class="user-links metadata">
			<% if !current_user.guest? && current_page?(signup_path) == false # TODO: this is a hack to prevent links to show to guests %>
				<%= unread_notifications_link %>
				<a href='/activity'>hello, <strong><%= current_user.email %></strong> (<%= current_user.total_points %>)</a> · 
				<%= link_to "settings", settings_path %> ·
				<%= link_to "logout", logout_path %>
			<% else %>
				<%= unread_notifications_link %>
				<%= link_to "log in", login_path %> ·
				<%= link_to "sign up (optional)", signup_path, class: 'highlight' %>
			<% end %>
		</nav>
		<main>
			<%= link_to image_tag('logo.png', alt:'convos.org'), root_path, class:'logo' %>
			<nav class="topic-tabs">
				<%= link_to "all convos", root_path, class: cp(root_path) %>
				<% for topic in topics_list %>
					<%= link_to topic.name, topic_path(topic, show: params[:show]), class: cp(topic_path(topic)) %>
				<% end %>
			</nav>
			<%= yield %>
		</main>
		<footer class="site-footer">
			<p class="copyright">&copy; 2016. All rights reserved. <a href="/tos" style="float: right;">Terms of service</a></p> 
		</footer>
	</body>
</html>
