<!DOCTYPE html>
<html>
	<head>
		<title>convos.org</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<nav class="site-nav group">
			<%= link_to image_tag('logo.png', alt:'convos.org', class:'logo'), root_path %>
			<ul class="convos-menu">
				<li>sort by</li>
				<li><%= link_to 'popular', '?show=popular', class: ("active" if params[:show] != 'recent') %></li>
				<li><%= link_to 'recent', '?show=recent', class: ("active" if params[:show] == 'recent') %></li>
				<% if current_user && !current_user.guest? %>
					<li>hello, <strong><%= current_user.username %></strong></li>
					<li><%= link_to "logout", logout_path %></li>
				<% end %>
			</ul>
			<div class="sidebar">
				<%= link_to '+ start a convo', new_convo_path, class: 'new-convo button' %>
			</div>
		</nav>
		<aside class="sidebar">
			<section>
				<h1>filter by topic</h1>
				<p class="topics">
					<%= link_to '(all topics)', root_path(show: params[:show]), class: cp(root_path(show: params[:show])) %>
					<% topics_list.each do |topic| %>
						<%= link_to "##{topic.name}", topic_path(topic, show: params[:show]), class: cp(topic_path(topic)) %>
					<% end %>
				</p>
			</section>
			<section>
				<h1>find convos</h1>
				<%= form_tag(convos_path, :method => "get") do %>
					<%= text_field_tag :search, params[:search], placeholder: "search", type: 'search' %><%= link_to 'clear', convos_path if params[:search]%>
				<% end %>
			</section>
			<section>
				<h1>about convos.org</h1>
				<p>Feel free to share anything and talk about anything.</p>
			</section>
		</aside>
		<main>
			<%= yield %>
		</main>

		<footer class="site-footer">
			<p class="links"><a href="/about">about</a> <a href="/tos">terms of service</a> <a href="https://github.com/rnmp/convos">source code</a></p>
			<p class="copyright">&copy; 2015 convos.org. All rights reserved.</p>
		</footer>
	</body>
</html>
